.workers .hero {
    display: block;
    width: 90%;
    margin: 20px auto;
    height: auto;
}

.workers .hero > .row__one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workers .hero > .row__one .login__hero .icon__user {
    height: 20px;
}


.workers .hero > .row__two {
    display: grid;
    grid-template-columns: 1fr auto;
}

.workers .hero > .row__two .inputs__general_icons {
   
}

.workers .hero > .row__two .inputs__general_icons:hover {
    outline: none;
}

.workers .hero > .row__two .inputs__general_icons:hover svg {
    color: var(--placeholder-color);
}

.workers .hero > .row__two .inputs__general_icons:focus svg {
    color: var(--placeholder-color);
}


.workers .hero > .row__two .filter {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workers .hero > .row__two .filter > svg {
    color: var(--primary-color);
    width: 35px;
    height: 35px;
}



.hero__container {
    width: 90%;
    margin: 0 auto;
}

.hero__container .inputs__general_icons {
    width: min-content;
}


.hero__container .inputs__general_icons .inputs__generic {
    width: min-content;
}

.workers {

}


.workers > .main__workers {
    width: 90%;
    margin: 20px auto;
}

.workers > .main__workers > .row__one {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.workers > .main__workers > .row__one > .item {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 71px -22px rgba(0,0,0,0.1);
    border-radius: 5px;
}


.workers > .main__workers > .row__three {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.workers > .main__workers > .row__three .item {
    width: 100%;
    border-radius: 10px;
}

.workers > .main__workers > .row__three .item .content__data {

}

.workers > .main__workers > .row__three .item .content__data {

}

.workers > .main__workers > .row__three .item .content__data .skills {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.workers > .main__workers > .row__three .item .content__data .starts {
    color: #FFC107;
}

.workers > .main__workers > .row__three .item .content__data .btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
}

.workers > .main__workers > .row__three .item > .image__container {
    height: 200px;
    background-position: top;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.row__pages {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.row__pages > .chevron-left {
    display: grid;
    place-items: center;
    background-color: #f2f2f2;
    color: #666666;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.row__pages > .chevron-right {
    display: grid;
    place-items: center;
    background-color: #f2f2f2;
    color: #666666;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}


.row__pages_container {
    display: flex;
    gap: 20px;
}


.row__pages_container > div {
    display: grid;
    place-items: center;
    background-color: #f2f2f2;
    color: #666666;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}


@media screen and (max-width: 768px) {

    .workers > .main__workers > .row__three .item > .image__container {
        height: 300px;
    }

    .workers > .main__workers > .row__three {
        display: grid;
        grid-template-columns: 100%;
    }

}


