.Plomero {
    padding: 5px;
    background-color: #709ED0;
    color: #fff;
    border-radius: 5px;
}

.Electricista {
    padding: 5px;
    background-color: #3F7DC0;
    color: #fff;
    border-radius: 5px;
}


.main {

}

.main > .row__one {
    width: 90%;
    margin: 0 auto;
}

.main > .row__one > .title {
    display: flex;
}


.main > .row__one > .title > p {
    padding: 5px 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin-bottom: 20px;
    color: var(--text-color);
    color: #fff
}


.main > .row__one > .best__services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.main > .row__one > .best__services > .item {
    
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 71px -22px rgba(0,0,0,0.1);
   
}

.main > .row__one > .best__services .content__data {
    padding: 10px 10px 20px 10px;
    
}

.content__data img {
    width: 24px;
}

.name {
    font-weight: 600;
}

.number__experience {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 20px;
    background-color: #3F7DC0;
    color: #fff;
    margin-right: 10px;
    
}

.experience {
    display: flex;
    margin: 10px 0;
}

.starts {
    margin: 20px 0;
}


.main > .row__one > .best__services .content__data > p {
    
}

.main > .row__one > .best__services .content__data > .skills {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin: 15px 0;
}

.main > .row__one > .best__services .btn {
    display: flex;
}

.main > .row__one > .best__services .btn > button {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
}


.main > .row__one > .best__services > .item > .image__container {
    background-position: top;
    background-size: cover;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.icon-tabler-star {
    color: #FFC107;
}


.main > .row__two {
    width: 90%;
    margin: 0 auto;
}

.main > .row__two > div {
    height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #709ed0;
    box-shadow: 0px 0px 71px -22px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 50px 0;
}

.main > .row__two > div > .left {
    background-image: url('../../assets/general/pexels-maltelu-2244746.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.main > .row__two > div > .left > p {
    display: none;
}

.main > .row__two > div > .right {
    padding: 20px;
    color: #fff;
}

.main > .row__three {
    width: 90%;
    margin: 0 auto;
}


.main > .row__three > .how-it-works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: #fff;
    box-shadow: 0px 0px 71px -22px rgba(0,0,0,0.1); */
    border-radius: 10px;
    margin: 50px 0;
}

.main > .row__four {
    width: 90%;
    margin: 70px auto;
}


.main > .row__four > div {
   display: grid;
   grid-template-columns: 50% 50%;
   column-gap: 20px;
   height: 100px;
}

.main > .row__four > div > .left {
    background-color: #dfe2e3;
    border-radius: 10px;
    color: var(--placeholder-color);
    padding: 10px;
}

.main > .row__four > div > .right {

    background-color: var(--primary-color);
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}


@media screen and (max-width: 768px) {

    .main > .row__four > div > .left {
        display: none;
    }

    .main > .row__four > div {
        grid-template-columns: 100%;
     }

     .main > .row__one > .best__services {
        display: flex;
        /* overflow-x: auto; */
    }
    .main > .row__one > .best__services .content__data {
        width: 400px;
        
    }

    .main > .row__one > .best__services > .item {
        width: 90vw;

    }


    .main > .row__two > div {
        height: 300px;
        grid-template-columns: 100%;

    }
    
    .main > .row__two > div > .left {
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-image: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.336)), url('../../assets/general/pexels-maltelu-2244746.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        color: #fff;
    }
    
    .main > .row__two > div > .left > p {
        display: flex;
        width: 90%;
    }
    

    
    .main > .row__two > div > .right {
        padding: 20px;
        color: #fff;
        display: none;
    }
    

    .main > .row__three > .how-it-works {
        display: grid;
        grid-template-columns: 100%;
        /* background-color: #fff;
        box-shadow: 0px 0px 71px -22px rgba(0,0,0,0.1); */
        border-radius: 10px;
        margin: 50px 0;
    }
    
    
}
