.Plomero {
    padding: 5px;
    background-color: #f5d062;
    color: #fff;
    border-radius: 5px;
}

.Electricista {
    padding: 5px;
    background-color: #709ed0;
    color: #fff;
    border-radius: 5px;
}


.main {

}

.main > .row__one {
    width: 90%;
    margin: 0 auto;
}

.main > .row__one > .title {
    display: flex;
}


.main > .row__one > .title > p {
    padding: 5px 10px;
    background-color: #f5d8c8;
    border-radius: 5px;
    margin-bottom: 20px;
    color: var(--text-color);
    color: #fff
}


.main > .row__one > .best__services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.main > .row__one > .best__services > .item {
    height: 400px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 71px -22px rgba(0,0,0,0.1);
   
}

.main > .row__one > .best__services .content__data {
    padding: 10px;
}

.content__data img {
    width: 24px;
}



.main > .row__one > .best__services .content__data > p {
    
}

.main > .row__one > .best__services .content__data > .skills {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin: 15px 0;
}

.main > .row__one > .best__services .btn {
    display: flex;
    justify-content: center;
}

.main > .row__one > .best__services .btn > button {
    padding: 7px 10px;
    width: 90%;
    border: none;
    background-color: #709ed0;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}


.main > .row__one > .best__services > .item > .image__container {
    background-position: top;
    background-size: cover;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.icon-tabler-star {
    color: #f5d062;
}


.main > .row__two {
    width: 90%;
    margin: 0 auto;
}

.main > .row__two > div {
    height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #709ed0;
    box-shadow: 0px 0px 71px -22px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 50px 0;
}

.main > .row__two > div > .left {
    background-image: url('../../assets/general/pexels-maltelu-2244746.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.main > .row__two > div > .right {
    padding: 20px;
    color: #fff;
}

.main > .row__three {
    width: 90%;
    margin: 0 auto;
}


.main > .row__three > div {
    height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fff;
    box-shadow: 0px 0px 71px -22px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 50px 0;
}

.main > .row__four {
    width: 90%;
    margin: 70px auto;
}


.main > .row__four > div {
   display: grid;
   grid-template-columns: 50% 50%;
   column-gap: 20px;
   height: 100px;
}

.main > .row__four > div > .left {
    background-color: #dfe2e3;
    border-radius: 10px;
    color: var(--placeholder-color);
    padding: 10px;
}

.main > .row__four > div > .right {

    background-color: #709ed0;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}


