/*==================Satart of Footer=============*/

.footer {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  .container__footer {
    width: 90%;
    margin: 0 auto;
    padding: 80px 0 20px 0;
  }
  .content__footer {
    display: block;
  }
 
  
  

  
  .final__foot {
    display: block;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
  }

  .social__networks-item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  
  }

  @media screen and (max-width: 768px) {
    .contact__item p {
      margin-left: 0;
      
    }
  }

  