.hero {
    height: 80px;
    width: 100%;
    /* background-color: var(--primary-color); */
}


.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.nav__hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn__seller {
    margin-right: 40px;
}

.hero__container .title {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}


.nav__hero .btn__seller > .btn__join {
    background-color: #3f7dc046;
    border: none;
    color: #3F7DC0;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;

}

.login__hero {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 600;

}

.nav__hero .icon__user {
    display: flex;
    justify-content: center;
    align-items: center;
 
    border-radius: 50px;
    /* height: 25px;
    width: 25px; */
    margin-left: 10px;
}

.login__hero .text__login {
    color: #fff;
}


@media screen and (max-width: 768px) {

   
.btn__seller {
    margin-right: 20px;
}

    
}


